@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;400;500&display=swap');
:root {
    --primary-color: #124E78;
    --secondary-color: #F1DEDE;
    --accent1-color: #6b8374;
    --accent2-color: #7CA5B8;
  
    --heading-font: 'wght@500', serif;
    --paragraph-font: '100', serif;
  
    --nav-background-color: #124E78;
    --nav-link-color: #F1DEDE;
    --nav-hover-link-color: #6b8374;
    --nav-hover-background-color: #7CA5B8;
  }
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
  }
  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  